
services:
  datastore_single_threaded:
    container_name: datastore_single_threaded
    build:
      context: ./single_threaded
      dockerfile: dockerfile
    ports:
      - "8000:3000"
    networks:
      - appnet

  datastore_single_threaded_epoll:
    container_name: datastore_single_threaded_epoll
    build:
      context: ./single_threaded_epoll
      dockerfile: dockerfile
    ports:
      - "8003:3000"
    networks:
      - appnet

  datastore_multithreaded:
    container_name: datastore_multithreaded
    build:
      context: ./multi_threaded
      dockerfile: dockerfile
    ports:
      - "8001:3001"
    networks:
      - appnet

  # cadvisor:
  #   image: gcr.io/cadvisor/cadvisor:latest
  #   platform: linux/arm64/v8
  #   container_name: cadvisor
  #   ports:
  #     - "8080:8080"
  #   volumes:
  #     - /:/rootfs:ro
  #     - /var/run:/var/run:ro
  #     - /sys:/sys:ro
  #     - /var/lib/docker/:/var/lib/docker:ro
  #   restart: unless-stopped
  #   networks:
  #     - appnet

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus/config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    restart: unless-stopped
    networks:
      - appnet

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./monitoring/grafana/config/dashboards:/etc/grafana/provisioning/dashboards:ro
      - ./monitoring/grafana/config/datasources:/etc/grafana/provisioning/datasources:ro
      - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards:ro
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    restart: unless-stopped
    networks:
      - appnet
    depends_on:
      - prometheus
  netdata:
      image: netdata/netdata
      container_name: netdata
      # pid: host             # Critical: allows Netdata to see processes on the host
      # network_mode: host    # Recommended: simplest way to access host networking stack
      ports:
        - "19999:19999"
      restart: unless-stopped
      cap_add:
        - SYS_PTRACE        # Needed for capturing process metrics
        - SYS_ADMIN         # Needed for some container network monitoring
      security_opt:
        - apparmor:unconfined
      volumes:
        - netdataconfig:/etc/netdata
        - netdatalib:/var/lib/netdata
        - netdatacache:/var/cache/netdata
        - /etc/passwd:/host/etc/passwd:ro
        - /etc/group:/host/etc/group:ro
        - /proc:/host/proc:ro
        - /sys:/host/sys:ro
        - /etc/os-release:/host/etc/os-release:ro
        - /var/run/docker.sock:/var/run/docker.sock:ro # Vital: Allows detection of other containers
      networks:
        - appnet

volumes:
  prometheus-data:
  grafana-data:
  netdataconfig:
  netdatalib:
  netdatacache:

networks:
  appnet:
